<!DOCTYPE html>
<html class="borderbox">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1,viewport-fit=cover,minimal-ui">
    <meta name="renderer" content="webkit">
    <meta name="description" content="12">
    <meta name="keywords" content="12">
    <title>react</title>
</head>

<body>
    <div id="app"></div>
</body>

</html>